/* Write your CSS code here */
.user-cont {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.image {
  width: 250px;
  height: 250px;
}
.user-name {
  color: #12022f;
  font-weight: bold;
  font-size: 30px;
}
.user-role {
  color: #616e7c;
  font-size: 27px;
}
